[user]
  name = jmsmrgn
  email = james@morg.dev

[core]
  excludesfile = ~/.gitignore_global
  editor = code
  autocrlf = input
  mergeoptions = --no-edit

[push]
  default = simple

[color]
  ui = true

[credential]
  helper = osxkeychain

[pager]
  log = false

[url "https://"]
  insteadOf = git://

[alias]
  # status
  st  = status -sb
  ds  = diff --stat
  dw  = diff --word-diff
  dc  = diff --cached
  dlc = diff --cached HEAD^

  # log
  standup = log --since='last week' --author='James Morgan' --pretty=short
  lg  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" -25 --decorate
  ll  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld  = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative -25
  lds = --no-pager log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  le  = log --oneline --decorate
  lp  = log --graph --oneline --decorate --color -25
  ltzz = log --graph --oneline --decorate --all -25
  fl  = log -u
  rf  = reflog -25

  # add
  aa  = add -A
  ap  = add -p

  # commit
  ci  = commit
  cim = commit -m

  # branch / checkout
  co  = checkout
  cnb = checkout -b
  br  = branch
  com = checkout main
  cod = checkout develop

  # merge / rebase
  m   = merge
  md  = merge develop
  pur = pull --rebase
  ri  = rebase -i @{u}

  # reset
  r   = reset
  r1  = reset HEAD^
  r2  = reset HEAD^^
  r3  = reset HEAD^^^
  rh  = reset --hard
  rh1 = reset --hard HEAD^
  rh2 = reset --hard HEAD^^
  rh3 = reset --hard HEAD^^^

  # stash
  sl  = stash list
  sa  = stash apply
  sp  = stash pop

  # remote
  cl  = clone
  cp  = cherry-pick
  fu  = fetch upstream
  pdr = pull --dry-run
  rpo = remote prune origin
  pushf = push --force

  # patch
  pst  = apply --stat
  pchk = apply --check

  # search
  f = "!git ls-files | grep -i"
